<div *ngIf="type() == false;" class="container">
    <img [src]="product.url">
    <div style="margin: auto 0;">
        <p style="font-size: xx-large;">{{product.name}}</p>
        <p>{{product.price}}$</p>
        <p>{{product.description}}</p>
        <div class="amount-nav">
            <button [disabled]="disabled()" class="spacing" (click)="removeProducts()">-</button>
            <div class="spacing amount">{{amountIdle}}</div>
            <button class="spacing" (click)="addProducts()">+</button>
        </div>
        <button style="margin-top: 20px;" (click)="addToCart()">Add To Cart</button>
    </div>
</div>

