
<div class="cadre">
    <img (click)="getDetail(product)" routerLink ="/detail" class="product-img" [src]="product.url">
    <div style="font-size: x-large;">{{product.name}}</div>
    <div>{{product.price}}$</div>
    <div class="amount-nav">
        <button [disabled]="disabled()" class="spacing" (click)="removeProducts()">-</button>
        <div class="spacing amount">{{amountIdle}}</div>
        <button class="spacing" (click)="addProducts()">+</button>
    </div>
    <button style="margin: 10px;" (click)="addToCart()">Add To Cart</button>
</div>
